<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Notification</title>
    </head>
    <body>
        <h1>
            We will be back shortly..
        </h1>
        <p>
            Site is under maintenance.
        </p>
    </body>
</html>